---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Developer Army",
    company: "Expresia",
    description:
      "Implementación y desarrollo de plantillas para su uso mediante la plataforma de Gestion de Contenidos: Expresia.",
    link: "https://www.expresia.com/developer-army/",
  },
  {
    date: "Febrero 2022",
    title: "Desarrollo Web Full Stack",
    company: "Academlo",
    description:
      "Aplicando algunas de las tecnologías utilizadas en el desarrollo Web como lo son: HTML, CSS, JAVASCRIPT, REACT, NODE, entre otras.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
